<div class="jumbotron">
    <h1 class="text-center">Instagram user {{user.username}}</h1>
    <p class="text-center">This page shows the images you have posted on your feed. You can like them if you want!</p>
    <a href="/logout" class="btn btn-default btn-sm pull-right">
        Log out
    </a>
</div>

<div class="row center-block">
    {{#each photos}}
        <div class="col-lg-2 col-sm-3 col-xs-4 center-block">
            <img src="{{url}}" class="img-responsive img-thumbnail hashtag-img">
            <form action="/instalike" method="post">
                <input name="img_id" value="{{id}}" type="hidden">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-heart"></span> Heart
                </button>
            </form>
            <p class="lead">{{caption}} </p>
        </div>
    {{/each}}
</div>






